/* ## TODO style dialog */
.swadetools-2grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px 10px; 
}



.swadetools-mod-add {
display:flex;
position:relative;
align-items: center;
}

.swadetools-mod-add label,.swadetools-mod-add input {
    flex:1
}

.swadetools-mod-add input {
    margin-left:10px;
}

.swadetools-formpart {
    margin:10px 0
}

.swadetools-raise {
    display: flex;
    align-items: center;
}
.swadetools-raise label {
    font-size: 16px;
    display: flex;
}

.swadetools-raise input {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.item-image, .item.weapon .item-img,.item-show, .item.weapon .damage,.powers-list h4.item-name, .item-list .item.weapon h4, ol.skill-list li.item.skill img.skill-icon {
    cursor: pointer;
}

.swadetools-relative {
    position: relative;
}

.swadetools-chatadd-status {
margin-top:3px
}

.swadetools-unshake-button {
    background-image: url(../icons/benny.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    cursor:pointer;
    padding-left:30px;
    text-align: left;
}

button.swadetools-bennyrerroll {
   
    padding-top: 2px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    bottom: 3px;
    border: 1px solid #737171;
    border-radius: 3px;
    background: url(../icons/benny.png) no-repeat center center #f3f3e7;
    background-size: 90%;
    cursor: pointer;
}

.swadetools-criticalfailure {
    background: #b10505;
    color: white;
    text-align: center;
    padding: 5px;
   
    margin-top: 5px;
    border-radius: 3px;

}

.swadetools-targetwrap {
    border: 1px solid #737171;
    border-radius: 3px;
    display: flex;
   
    margin-bottom: 2px;
    align-items: center;
    background: #f3f3e7;
}
.swadetools-target-title {
    color: #5a5959;
    margin: 3px 0;
    /* text-align: center; */
    font-size: 12px;
}
.swadetools-targetname {
font-weight:bold;
margin-left:5px;
display: flex;
align-items: center;
flex-wrap: wrap;
}

.swadetools-rolldamage, .swadetools-applydamage {
    display: flex;
    width:100%;
    align-items: center;
    padding: 3px 5px;
}



.swadetools-term-hit, .swadetools-rof-hit {  /* ///miss hit raise &&& none shaken wounds  */
color:green
}

.swadetools-term-raise,.swadetools-rof-raise {  /* ///miss hit raise &&& none shaken wounds  */
    color:purple
    }

    .swadetools-term-miss, .swadetools-term-none,.swadetools-applydamage[disabled],.swadetools-soakdamage[disabled], .swadetools-bar {  /* ///miss hit raise &&& none shaken wounds  */
        color:gray
        }

        .swadetools-term-rof {
color:black;
padding: 0 5px;
        }

        .swadetools-term-miss, .swadetools-term-none{
            padding: 3px 5px;
        }
       

        .swadetools-term-shaken {
            color:orange;
        }
        .swadetools-term-wounds {
            color:#b10505
        }


        .swadetools-vulnerable-icon {
            width: 15px;
            height:15px;
            background: url(../icons/vulnerable.png) no-repeat center center;
            background-size:100%;
            margin:0 2px;
            display: inline-block;
        }


        .swadetools-simplebutton {
            margin-top:5px
        }


        .vertical-buttons .dialog-buttons button.dialog-button {
            cursor:pointer;
            margin-bottom:2px
            }


            .swadetools-form-hint {
              
    font-size: 12px;
    color: grey;
            }

           
            .swadetools-hint {
                border-bottom:1px dotted transparent;
                font-size: 12px;
            }
            .swadetools-hint:hover {
                border-bottom:1px dotted grey;
            }

            .swadetools-raise-power {
                margin-top:10px
            }

            .swadetools-term-rof .swadetools-rolldamage {width:auto}

.swadetools-term-rof .swadetools-target-name {display:inline-block}

.swadetools-soakdamage {
    
    padding-left:20px;
    background-size: contain;
    color:#c59f36;
    width:35px;
}


.swadetools-damage-with-soak .swadetools-applydamage{
width: calc(100% - 40px);
}


.swadetools-targetwrap.swadetools-damage-with-soak { 
    border:none;
    background:none;
    border-radius:none;
    }
    
    .swadetools-targetwrap.swadetools-damage-with-soak a.swadetools-applydamage, .swadetools-targetwrap.swadetools-damage-with-soak a.swadetools-soakdamage {
    border: 1px solid #737171;
        border-radius: 3px;
        background-color: #f3f3e7;
    }
    
    .swadetools-targetwrap.swadetools-damage-with-soak .swadetools-soakdamage {
    position:relative;
    margin-left:5px;
    padding:3px 20px 3px 
    }
    
    .swadetools-targetwrap.swadetools-damage-with-soak .swadetools-soakdamage:before {
    position:absolute;
    content:'';
    display:block;
    background-image: url(../icons/benny.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 17px;
    height: 17px;
    left: 2px;
    background-size: 100%;
    }

    .swadetools-targetwrap.swadetools-damage-with-soak .swadetools-soakdamage[disabled]:before{
        filter:grayscale(1)
    }

    .swadetools-vertical.dialog .dialog-buttons {
        display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    }
    .swadetools-vertical.dialog .dialog-buttons > * {
        flex:none;
    }

    .swadetools-vertical.dialog .dialog-buttons button {
        margin:0
    }

    .swade-official .primary .attribute { max-width: 64px; }

    .swadetools-pseudocard .card-content {
        border-bottom: 2px groove #fff;
        }
        

/*     .swadetools-targetwrap a,
    .swadetools-targetwrap.swadetools-damage-with-soak a.swadetools-applydamage, 
    .swadetools-targetwrap.swadetools-damage-with-soak a.swadetools-soakdamage {
        transition:0.5s ease;
    }
    .swadetools-targetwrap a:hover,
    .swadetools-targetwrap.swadetools-damage-with-soak a.swadetools-applydamage:hover, 
    .swadetools-targetwrap.swadetools-damage-with-soak a.swadetools-soakdamage:hover {
        background-color: #f9f9d0;
    } */